*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    width: 100vw;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-evenly;
}
.first {
    display: flex;
    justify-content: space-evenly;
    margin-left: -350px;
    padding: 10px;
    align-content: center;
}
.fa-instagram {
    margin: 20px;
    margin-top: 15px;
    color: black;
}
.nav-bar p {
    margin: 15px;
    background-color: black;
    width: 2px;
    height: 50px;
}
.nav-bar img {
    margin: 5px;
    margin-top: 25px;
    width: 150px;
    color: black;
}
.second {
    margin-top: 30px;
}
.fa-search {
  
}
#search {
    background-color: rgb(238, 226, 226);
    width: 200px;
    line-height: normal;
}